@{
    ViewBag.Title = "";
}


<h2>Index</h2>
<div class="pad">
<p>Добрый день! Так получилось, что сервис претерпевает глобальные изменения. Какое-то время он не работал и не будет работать, но когда заработает...</p>
    </div>

@if (ViewBag.SongName!=null)
{
<div id="external" class="mp3" style="visibility:hidden;" >@ViewBag.SongName</div>
<script type="text/javascript">
    $("#external").jmp3({
        showfilename: "false",
        backcolor: "ffd700",
        forecolor: "8B4513",
        showdownload: "false"
    });
</script>
}
    
