@{
    ViewBag.Title = "";
}

<h2>Index</h2>
<div class="pad">
<p>Добрый день! Так получилось, что сервис претерпевает глобальные изменения. Какое-то время он не работал и не будет работать, но когда заработает...</p>
    </div>