body {
    height:100%;
}
body.stripes {
    background-image: url('/Content/images/stripes.png');
}
body.darkstripes {
    background-image: url('/Content/images/darkstripes.png');
}
html {
    height: 100%;
}

.field
{
float: left;
padding-top: 5px;
font-weight:bold;
}

.fieldlight
{
float: left;
padding-top: 5px;
}

.fve-wrapper
{
margin-top: 4px;
margin-left: 4px;
position:fixed;
}

.field-validation-error
{
	font-weight:normal;
	color: red;
}

.input-validation-error
{
    background: #FEF1EC !important;
    border: 1px solid red !important;
}

.validation-summary-errors
{
	font-weight:normal;
	color: red;
}

input.right {
    text-align: right !important;
}
.wider{
  left: 50%;
  width: 940px;
  margin-left:-470px;
  top: 100px!important;
  margin-top:0!important;
  display:block;
}
.modal {
  top: 100px!important;
  margin-top:0!important;
}

a.white {
  color: #fff;
  text-decoration: underline;
}
a.white:hover,
a.white:focus {
  color: #fff;
  text-decoration: none;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(70, 7, 79, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 7, 79,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 7, 79,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 7, 79,.6);
}


.whitespace {
background-image: url('/Content/images/stripes.png');
height:100%;
}

.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0!important;
        padding-top:30px;
}

.wrapper1 {
        height: 100%;
        width:100%;
        z-index:-1;
        position:fixed;
}
.stickleft {
    margin-left:0!important;
}

.stickright {
    margin-right:0!important;
}


@media (max-width: 979px) {
.wrapper {
      
        padding-top:0px;
}

.wrapper1 {
        height: 100%;
        width:100%;
        z-index:-1;
        position:fixed;
        margin-top:-41px;
}
}

@media (max-width: 767px) {
.stickleft {
    margin-left:20px!important;
    margin-right:0px!important;
}

.stickright {
    margin-right:0px!important;
}
}


    .stickbottom {
        margin-bottom: 0!important;
    }


.sheet {
    border-radius: 6px;
    background-color:white;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid rgba(0,0,0,.2);
    padding:0;
    margin-left:20px;
    margin-right:20px;
}


.pad {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-top:15px;
}

.form-actions-sheet {
    border-radius:0 0 6px 6px;
    margin-bottom:-20px;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
}

h2 {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom:20px;
}
h4 {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom:20px;
}

p {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom:20px;
}


.nodrop {
}
.nograg {
}
.dragHandle {
cursor: move!important;
padding-right:0!important;
}

.m-wrapper {
    left: 0%;
    width: 100%;
    position:fixed;

}
.m-container {
    left: 5%;
    width: 90%;
    min-width: 1100px;
    display:block;
}
.m-span-left {
    width: 80%;
    min-width: 880px;
    position:relative;
    display:block;
    margin:0px;
}
.m-span-right {
    width: 20%;
    min-width: 220px;
    position:relative;
    display:block;
    margin:0px;
}

.currentsong {
   font-size:larger;
}