body {
	margin-top:50px !important;
}


.field
{
float: left;
padding-top: 5px;
font-weight:bold;
}
.fieldlight
{
float: left;
padding-top: 5px;
}

.field-validation-error
{
	font-weight:normal;
	color: red;
}

.input-validation-error
{
    background: #FEF1EC !important;
    border: 1px solid red !important;
}

.validation-summary-errors
{
	font-weight:normal;
	color: red;
}

input.right {
    text-align: right !important;
}
.wider{
  left: 50%;
  width: 940px;
  margin-left:-470px;
  top: 100px!important;
  margin-top:0!important;
  display:block;
}
.modal {
  top: 100px!important;
  margin-top:0!important;
}
