@model Medlebox.Models.Song

@{
    ViewBag.Title = "Песня";
}

<h2>Песня</h2>

@using (Html.BeginForm("Edit", "Songs", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <fieldset>
        @Html.EditorFor(m => m)

<div class="form-actions">
                    <input type="submit" class="btn btn-large btn-primary" value="Сохранить" id="btn-save" data-action="" />
    </div>
</fieldset>
}
